footer {
    background-color: $primary;
    color: $solidWhite;
    padding: 75px;

    .footerTop {
        display: flex;
        justify-content: space-between;
    }

    h4 {
        color: $solidWhite;
    }

    .footerNav {
        width: 40%;

        nav {
            display: flex;
            justify-content: space-between;
        }
    }

    .footerBottom {
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        i {
            margin: 0 10px;
        }

    }
}