.contact form {
    display: flex;
    flex-direction: column;
    margin: 90px auto;
    max-width: 1000px;

    input,
    textarea {
        border: none;
        font-family: $bodyFont;
        color: #333;
        padding: 0 0 10px 5px;
        margin-bottom: 40px;

        &::placeholder {
            font-size: .9rem;
            color: $primary;
            opacity: 1;
            line-height: 1.2;
            text-transform: uppercase;
        }

        &:focus {
            border-bottom: 1px solid $primary;
            outline: none;
        }
    }

    input {
        border-bottom: 1px solid #eee;
    }

    textarea {
        border: 1px solid #eee;
        border-top: none;
    }

    select {
        appearance: none;
        border: none;
        font-family: #bodyFont;
        background-color: $solidWhite;
        text-transform: uppercase;
        padding-bottom: 10px;
        margin-bottom: 40px;
        border-bottom: 1px solid #eee;
        background-image: url(../../../assets/caret-down-solid.svg);
        background-repeat: no-repeat;
        background-position: 95% center;
    }

    fieldset {
        border: none;
        padding: 0;

        label {
            font-size: 0.9rem;
            margin-left: 10px;
        }

        input {
            accent-color: red;
        }
    }

}