header {
    background-color: $tertiary;

    .wrapper {
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: space-between;
        align-items: center;
    }

    .headerImgContainer,
    .textContainer {
        flex-basis: 48%;
    }
}

.contactHeader {
    background-color: $quaternary;
    padding-top: 120px;

    .wrapper {
        flex-direction: column;
        margin: 0 auto;
        padding-bottom: 50px;
    }
}

.contactHeader::after {
    content: "";
    width: 100%;
    height: 150px;
    background-image: url(../../../assets/wave.svg);
    background-size: 100% 100%;
    background-color: $quaternary;
    display: inline-block;
    background-repeat: no-repeat;
}