// *1000PX
@media (max-width: 1000px) {
    .categoryList .items {
        padding: 25px;
    }

    // footer
    .footerFlexContainer {
        flex-direction: column;
        align-items: center;
    }
}

// *800PX
@media (max-width: 800px) {
    header .wrapper {
        flex-direction: column;

        .headerImgContainer {
            width: 100%;
        }

        img {
            max-height: 350px;
            object-fit: cover;
            width: 100%;
        }
    }

    .categoryList .items {
        padding: 15px;
        margin: 20px
    }

    // play section
    .playContent {
        width: 100%;
        padding: 15px;
    }
}

// *500PX
@media (max-width: 500px) {
    .categoryList .items {
        width: 100%;
        margin: 10px;
    }

    // play section
    .play .wrapper .playContent {
        padding: 10px 10px 10px 15px;
    }

    // footer

}