//*Skip Link
.skipLink {
    position: absolute;
    left: -9999px;
    top: 5px;
    background-color: $solidWhite;
    color: black;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

//*Announcements
.announcements {
    text-align: center;
    padding: 10px 0;

}

//*Nav Bar
.navBar {
    position: sticky;
    top: 0;
    border-top: 1px solid rgba(8, 75, 109, 0.08);
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
    background-color: $solidWhite;
    z-index: 10;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;

        &:checked~.slideOutNav {
            left: 0;
        }
    }
}

.searchCart {
    display: flex;

    .searchIcon,
    .bag {
        margin-right: 15px;
    }

    .bag {
        display: flex;
    }

    .counter {
        p {
            width: 24px;
            height: 24px;
            background-color: $primary;
            color: $solidWhite;
            text-align: center;
            border-radius: 50%;
        }
    }
}

//*Slide Out Nav
.slideOutNav {
    background: $primary;
    position: fixed;
    top: 0;
    left: -999px;
    height: 100vh;
    width: 100%;
    max-width: 506px;
    padding: 35px 50px;
    color: $solidWhite;
    transition: 0.75s;
}

.navMenu {
    a {
        font-family: $headingFont;
        font-size: 1.6rem;
        line-height: 2.5rem;
        color: rgba($color: $solidWhite, $alpha: 1);
        transition: 0.3s;

        &:hover,
        &:focus {
            color: rgba($color: $solidWhite, $alpha: 0.5);
        }
    }
}

.buttonWrapper {
    display: flex;
    justify-content: right;

    button {
        color: $solidWhite;
    }
}