// Skip Link
.skipLink {
    position: absolute;
    left: -9999px;
    top: 5px;
    background-color: $solidWhite;
    color: black;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

// Announcements
.announcements {
    text-align: center;
    padding: 10px 0;

}

//Nav Bar
.navBar {
    position: sticky;
    top: 0;
    border-top: 1px solid rgba(8, 75, 109, 0.08);
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;
    }
}

.searchCart {
    display: flex;

    .searchIcon,
    .bag {
        display: flex;
    }

    .
}

//Slide Out Nav
.slideOutNav {
    display: none;
}