// Skip Link
.skipLink {
    position: absolute;
    left: -9999px;
    top: 5px;
    background-color: $solidWhite;
    color: black;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

// Announcements
.announcements {
    text-align: center;
    padding: 10px 0;

}

//Nav Bar
.navBar {
    position: sticky;
    top: 0;
    border-top: 1px solid rgba(8, 75, 109, 0.08);
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);
    background-color: $solidWhite;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;
    }
}

.searchCart {
    display: flex;

    .searchIcon,
    .bag {
        margin-right: 15px;
    }

    .bag {
        display: flex;
    }

    .searchIcon {
        background-color: transparent;
        border: none;
    }

    .counter {
        p {
            width: 24px;
            height: 24px;
            background-color: $primary;
            color: $solidWhite;
            text-align: center;
            border-radius: 50%;
        }
    }
}

//Slide Out Nav
.slideOutNav {}