// *Categories
.categoryList {
    display: flex;
    flex-wrap: wrap;

    .items {
        // *list item styles
        border-radius: 10%;
        width: calc((100% / 2) - 50px);
        margin: 50px 25px 25px;
        padding: 40px;
        text-align: center;
        transition: 0.3s;

        // *img styles
        img {
            border-radius: 10%;
            margin-bottom: 15px;
        }

        // *hover scaling
        &:hover {
            transform: scale(0.9);
        }
    }

    .itemOne {
        background-color: $quinary;
    }

    .itemTwo {
        background-color: $secondary;
    }

    .itemThree {
        background-color: $tertiary;
    }

    .itemFour {
        background-color: $quaternary;
    }
}

// *Let Them Play

.play {
    background-image: url(../../../assets/background-image.jpg);
    background-position: center;
    background-size: cover;
    min-height: 90vh;

    .wrapper {
        display: flex;
        text-align: center;
        align-items: center;
        min-height: 90vh;

        .playContent {
            width: 60%;
            border: 24px solid $secondary;
            padding: 60px;
            background-color: $solidWhite;
            text-align: center;
        }
    }
}