html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Jakarta Sans";
  src: url("../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff"), url(../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2), url(../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Young Serif";
  src: url(../../../fonts/youngserif/YoungSerif-Regular.otf);
}
html {
  font-size: 125%;
}

p {
  font-size: 0.9rem;
}

body {
  font-family: "Jakarta Sans";
  font-weight: normal;
  color: #084b6d;
}

h1,
h2,
h3,
h4,
blockquote {
  font-family: "Young Serif";
  font-weight: normal;
  color: #084b6d;
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 0.4rem;
}

ul,
li,
a,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.smallCopy {
  font-size: 0.6rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2rem;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

label {
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

section {
  margin-bottom: 90px;
}

.button {
  padding: 18px 36px;
  border: 2px solid #084b6d;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 20px;
  display: inline-block;
}

.shopButton {
  color: #084b6d;
  background-color: transparent;
}
.shopButton:hover, .shopButton:focus {
  background-color: #084b6d;
  color: #fff;
}

.aboutButton {
  color: #fff;
  background-color: #084b6d;
}
.aboutButton:hover, .aboutButton:focus {
  background-color: transparent;
  color: #084b6d;
}

.skipLink {
  position: absolute;
  left: -9999px;
  top: 5px;
  background-color: #fff;
  color: black;
  z-index: 10;
}
.skipLink:focus {
  left: 0;
}

.announcements {
  text-align: center;
  padding: 10px 0;
}

.navBar {
  position: sticky;
  top: 0;
  border-top: 1px solid rgba(8, 75, 109, 0.08);
  border-bottom: 1px solid rgba(8, 75, 109, 0.08);
  background-color: #fff;
  z-index: 10;
}
.navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.navBar input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
.navBar input[type=checkbox]:checked ~ .slideOutNav {
  left: 0;
}

.searchCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.searchCart .searchIcon,
.searchCart .bag {
  margin-right: 15px;
}
.searchCart .bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.searchCart .counter p {
  width: 24px;
  height: 24px;
  background-color: #084b6d;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}

.slideOutNav {
  background: #084b6d;
  position: fixed;
  top: 0;
  left: -999px;
  height: 100vh;
  width: 100%;
  max-width: 506px;
  padding: 35px 50px;
  color: #fff;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.navMenu a {
  font-family: "Young Serif";
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navMenu a:hover, .navMenu a:focus {
  color: rgba(255, 255, 255, 0.5);
}

.buttonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.buttonWrapper button {
  color: #fff;
}

header {
  background-color: #f8fbf3;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headerImgContainer,
header .textContainer {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.contactHeader {
  background-color: #fff5f5;
  padding-top: 120px;
}
.contactHeader .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-bottom: 50px;
}

.contactHeader::after {
  content: "";
  width: 100%;
  height: 150px;
  background-image: url(../../../assets/wave.svg);
  background-size: 100% 100%;
  background-color: #fff5f5;
  display: inline-block;
  background-repeat: no-repeat;
}

.categoryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.categoryList .items {
  border-radius: 10%;
  width: calc(50% - 50px);
  margin: 50px 25px 25px;
  padding: 40px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.categoryList .items img {
  border-radius: 10%;
  margin-bottom: 15px;
}
.categoryList .items:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.categoryList .itemOne {
  background-color: #ffd698;
}
.categoryList .itemTwo {
  background-color: #f4fcff;
}
.categoryList .itemThree {
  background-color: #f8fbf3;
}
.categoryList .itemFour {
  background-color: #fff5f5;
}

.play {
  background-image: url(../../../assets/background-image.jpg);
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  margin-bottom: 0;
}
.play .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
}
.play .wrapper .playContent {
  width: 60%;
  border: 24px solid #f4fcff;
  padding: 60px;
  background-color: #fff;
  text-align: center;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 90px auto;
  max-width: 1000px;
}
.contact form input,
.contact form textarea {
  border: none;
  font-family: "Jakarta Sans";
  color: #333;
  padding: 0 0 10px 5px;
  margin-bottom: 40px;
}
.contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
  font-size: 0.9rem;
  color: #084b6d;
  opacity: 1;
  line-height: 1.2;
  text-transform: uppercase;
}
.contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
  font-size: 0.9rem;
  color: #084b6d;
  opacity: 1;
  line-height: 1.2;
  text-transform: uppercase;
}
.contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  font-size: 0.9rem;
  color: #084b6d;
  opacity: 1;
  line-height: 1.2;
  text-transform: uppercase;
}
.contact form input::-ms-input-placeholder, .contact form textarea::-ms-input-placeholder {
  font-size: 0.9rem;
  color: #084b6d;
  opacity: 1;
  line-height: 1.2;
  text-transform: uppercase;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 0.9rem;
  color: #084b6d;
  opacity: 1;
  line-height: 1.2;
  text-transform: uppercase;
}
.contact form input:focus,
.contact form textarea:focus {
  border-bottom: 1px solid #084b6d;
  outline: none;
}
.contact form input {
  border-bottom: 1px solid #eee;
}
.contact form textarea {
  border: 1px solid #eee;
  border-top: none;
}
.contact form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  font-family: #bodyFont;
  background-color: #fff;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;
  background-image: url(../../../assets/caret-down-solid.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
}
.contact form fieldset {
  border: none;
  padding: 0;
}
.contact form fieldset label {
  font-size: 0.9rem;
  margin-left: 10px;
}
.contact form fieldset input {
  accent-color: red;
}

footer {
  background-color: #084b6d;
  color: #fff;
  padding: 75px;
}
footer .footerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer h4 {
  color: #fff;
}
footer .footerNav {
  width: 40%;
}
footer .footerNav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footerBottom {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}
footer .footerBottom i {
  margin: 0 10px;
}

@media (max-width: 1000px) {
  .categoryList .items {
    padding: 25px;
  }

  .footerFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 800px) {
  header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .wrapper .headerImgContainer {
    width: 100%;
  }
  header .wrapper img {
    max-height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }

  .categoryList .items {
    padding: 15px;
    margin: 20px;
  }

  .playContent {
    width: 100%;
    padding: 15px;
  }
}
@media (max-width: 500px) {
  .categoryList .items {
    width: 100%;
    margin: 10px;
  }

  .play .wrapper .playContent {
    padding: 10px 10px 10px 15px;
  }
}